* {
    margin: 0;
    box-sizing: border-box;

}

body {
    font-size: 15px;
    line-height: 1.5;
    background-color: #f8f4f1;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
main,header{
    background-color: white;
}
nav {
    padding-bottom: 10px;
}

header,
footer {
    background-color: #625b61;
    padding: 1rem;
    color: white;
    text-align: center;
}

footer {
    font-size: 0.75rem;
}

img {
    margin: 1px;
    border: 1px solid black;
    box-shadow: 0 0 30px #444;
    width: 200px;
    height: auto;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid #999;
    margin: 0.9rem;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;

}

footer a {
    color: rgb(255, 255, 255);
}

div {
    color: rgb(198, 198, 142);
}