:root{
    --clr-primary-main: #F6E3B6;
    --clr-header-footer: #186777;
    --clr-nav: #279DA5;
    --clr-news: #ee7953;
    --clr-bussiness: #c64a42;
    --clr-events: #9e1a30;
    --clr-text: white;

    --ff-primary:'Montserrat',
    sans-serif;
    --ff-main-title:'Lobster',
    cursive;
    --ff-headings: 'Oswald',
    sans-serif;
    --ff-events: 'Merriweather',
    serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary-main);
line-height: 1.6;}

header, footer{
    background-color: var(--clr-header-footer);
color: var(--clr-text);
   padding: 10px;
}
footer{
    text-align: center;
}
h1,h2,h3{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: var(--ff-headings);
    line-height: 1;
}

.container{
    margin-inline: auto;
    width: min(90%, 80.5rem);
    text-indent: 50px;
    text-align: justify;
    margin-bottom: 2rem;
}
#mainHeader{
 font-family: var(--ff-main-title);
 letter-spacing: 3.5px;
 font-size: 3rem;
 align-self: center;
}
.headerStructure {
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
}
#logoimg {
    border: 3px solid white;
    margin: 30px;
}
.social{
  display: flex;
flex-direction: row;
justify-content: flex-end;

}
.social-link {
   
    overflow: hidden;
    border-radius: 50%;
    background-color: red;
    margin: 2px;
}
.bold{
    font-weight: 900;
    
}
main img{
    width: 100%;
}

nav button {
    margin: .2rem 2%;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    background-color: var(--clr-header-footer);
        text-align: center;
    font-weight: 900;
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: var(--clr-nav);
    color: white;
}

.active {
    background-color: var(--clr-nav);
    color: white;
}

nav ul.hide {
    display: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    display: block;
    text-align: center;
    font-size: 0.90rem;
}

