@media only screen and (min-width: 64em) {
    nav ul {
        display: flex;
        grid-template-columns: repeat(5, 1fr);
       
    }

    nav a {
        font-size: 4rem;
    }

    body {
        font-size: 18px;
        line-height: 2rem;
        padding: 10px;
    }

    header,
    nav,
    main,
    footer {
        margin: 1.25rem auto;
        min-width: 64rem;
    }
    #logoimg{width:128px;
        height:128px;
   }
  .herodiv {
      position: relative;

  }
  .herodiv img {
      width: 1060px;
      height: auto;
  }
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
}